.wrapPostDetail {
  margin-top: 100px;
  .titlePostDetail {
    font-size: 15px;
    text-transform: uppercase;
    a {
      color: #000;
      text-decoration: none;
      &:hover {
        color: grey;
      }
    }
  }

  .datePostDetail {
    padding-top: 20px;
  }
  .wrapContentDetail {
    display: flex;
    height: 500px;
    margin-top: 30px;
    & wrapImg {
      width: 40%;
      height: 100%;
      img {

      }
    }
    & .contentPostDetail {
      width: 70%;
      height: 100%;
      padding-left: 15px;
    }

  }
  small {
    color: grey;
    a {
      color: grey;
      text-decoration: none;

    }
  }
}
